* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  height: 80px;
  display: flex;
  background-color: #3b5998;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  font-size: 45px;
  color: #fff;
  font-weight: bold;
}
.header a {
  color: white;
  font-size: 13px;
  font-weight: bolder;
  border: 1px solid black;
  padding: 3px;
}
.header a:hover {
  background-color: #3b5980;
  text-decoration: none;
}
p {
  font-size: 20px;
}
.main {
  padding-top: 100px;
  background-color: #ebedf0;
}
.container {
  max-width: 500px;
}
input {
  padding: 5px 10px;
  font-size: 18px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  border-color: #bdc7d8;
  outline: none;
}
label {
  font-size: 18px;
}
select {
  padding: 5px;
}
.gender input {
  width: 15px;
}
.gender label {
  padding-right: 20px;
}
#gender {
  font-size: 18px;
  padding-top: 10px;
  margin-bottom: 0;
}
h6 {
  font-size: 13px;
  font-weight: 400;
  width: 70%;
}
.input-date i{
  padding-left: 10px;
}
i{
  vertical-align: 10px;
}
button {
  font-size: 19px;
  border: 1px solid;
  font-weight: bold;
  line-height: 126%;
  padding: 7px 30px;
  text-align: center;
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  color: white;
  border-radius: 5px;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  margin-top: 10px;
}
