@import url(http://fonts.googleis.com/css?family=Karla:400,700);
body {
    margin: 0;/* lề*/
    padding: 0;/* đệm*/
    background-color: #f1f1f1;/* màu nền */
    font-family: 'Karla', serif;/* họ phông chữ */
    color: #333;
}

/* Header: tiêu đề */
header {
    background-color: #333333;
    margin: 0 0 40px 0;
    padding: 10px 0 0 0;
    min-height: 50px; /* chiều cao tối thiểu */
    text-align: center; /* căn chỉnh văn bản*/
}

h1 {
    background-image: url('../img/creative-folk.png');/* hình nền*/
    background-repeat: no-repeat;/* lặp lại nền */
    background-position: center center; /* vị trí nền*/
    margin: 10px auto 5x auto;
    width: 516px;/* chiều rộng */
    height: 21px;/* chiều cao */
    text-align: center;
    text-indent: 100%;/* thụt lề văn bản */
    white-space: nowrap;/* khoảng trắng*/
    overflow: hidden;/* độ tràn */
}

h2 {
    font-size: 180%;/* kích cỡ phông chữ*/
    margin:  0;
}

h2,h4 {
    font-weight: normal;/* trọng lượng phông chữ */
}

h4 {
    color: #333;
    display: inline-block; /* hiện lên : chặn nội tuyến*/
    font-size: 120%;
    margin: 5px 0 5px 0;
}

/* Filter and search options */
/* Bộ lọc và tìm kiếm lựa chọn */
#price-range {
    width: 370px;
    margin: 10px auto 30px auto;
    text-align: center;
    font-weight: bold;
}

#value-min, #value-max {
    width: 100px;
    border: none;
    background-color: #f1f1f1;
    font-family: 'Karla', sans-serif;
}

#slider {
    margin: 30px 0 30px 0;
}
/* Filter and search options */
/* bộ lọc và tìm kiếm lựa chọn */
#buttons, #search {
    text-align: center;
    margin-bottom: 30px;
}

/* Filter buttons : nút lọc  */
button {
    background-color: #d7d7d7;
    border: none;
    padding: 3px 10px 4px 10px;
    border-radius: 4px;/*bán kính biên giới*/
    color: #333;
    font-family: 'Karla', sans-serif;
    font-size: 100%;
}

button:hover, button.active{
    background-color: #00cccc;
    color: #fff;
    cursor: pointer;
}

/* Search input */
input {
    font-size: 120%;
    border: 1px solid #999;
    padding: 5px;
}
input:hover {/*di chuột đầu vào */
    border: 1px solid #666;
}
input:focus {/* tiêu diểm đầu vào*/
    border: 1px solid #00cccc;
    outline: none;
}

/* Gallery of image : thư viện hình ảnh */
#gallery {
    text-align: center;
    max-width: 1020px;
    margin: 0 auto;
}

#gallery img {
    width: 300px;
    height: 150px;
    border-radius: 3px;/* bán kính biên giới */
    border: 8px solid #fff;
    margin: 6px;
        -webkit-box-shadow: 0 0 3px 3px #ebebeb;
        box-shadow: 0 0n 3px 3px #ebebeb;
    float: left;    
}

/* Table styles: kiểu bảng */
table {
    margin: 0 auto;
    width: 780px;
}
table#rates {width : 380px;}
th,td {
    border-radius: 3px;
    color: #333;
    padding: 7px 10px 5px 10px;
    min-width: 9em;
    text-align: left;
}
th {
    background-color: #d7d7d7;
    font-weight: bold;
    text-transform: uppercase;/* văn bản biến đổi*/
}
td {
    background-color: #fff;
}
table.sortable th:hover {
    cursor: pointer;
}
th.ascending, th.descending, table.sortable th:hover {
    background-color: #00cccc;
    color: #fff;
}

/* Arrows for table sorting */
th.ascending::after {
    font-size: 60%;
    content: '\25B2';
    float: left;
    padding: 4px 5px 0 0;
}
th.descending::after {
    font-size: 60%;
    content: '\25BC';
    float: left;
    padding: 4px 5px 0 0;
}

.about {
    width: 780px;
    margin: 0 auto 40px auto;
}

.about::after {
    content: "";
    display: table;
    clear: both;
}
.about h2 {
    text-align: left;
    float: left;
}
.bio{
    float: right;
    width: 195px;
}
.bio img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.location {
    padding-left: 74px;
    background-image: url('../img/pointer.png');
    background-repeat: no-repeat;
    background-position: 60px 1px;
    font-size: 90%;
}