form {
    margin: 0 auto;
    width: 600;
}
p {
    margin-left: 70px;
    font-weight: bold;
    float: left;
    clear: left;
    margin-right: 10px;
    font-size: 14px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}
