/* ************* TABS ************* */
.tab-list {
    margin: 0;
    padding: 0;
}

.tab-list li {
    display: inline-block;
    list-style-type: none;
    background-color: #303030;
    border-bottom: 3px solid #858585;
    font-family: 'Jacques Francois',  serif;
    text-transform: uppercase;
    letter-spacing: 0.2em; 
}
.tab-list li a{
    color: #f2f2f2;
    display: block;
    padding: 3px 10px 3px 10px;
}

/* ************* HOVER STATES ************* */
.tab-list li.active a,  .tab-list li a:hover {
    color: #666;
    background-color: #e5e5e5;
}

/* ************ PANELS *********** */
.tab-panel {
    display: none;
    background-color: #e5e5e5;
    color: #666;
    min-height: 150px;
    overflow: auto;
}

.tab-panel.active {
    display: block; 
}

.tab-panel p {
    margin: 20px;
}