<form name="myform">
    <input name="one " value="1">
    <input name="two" value="2"> 
</form>
<script>
    //get data af form
    // đối_tượng_cha. doi_tuong_con.(thuộc tính,method())
    let form= ocument.form.myform;
    //get element at foem
    let elem= document.element.one;alert(elem.value);
</script>