<form name="myform">
    <input name="radio" name="age" value="15">
    <input name="radio" name="age" value="20"> 
</form>
<script>
   let form = document.forms[0];
   let egeElem= document.elements.age;
   alert(alertElemm[10x])
</script>