<!--Thay thế lấy giá trị của form-->
<body>
    <form id="form">
        <fieldset name="userFields">
            <legend>Information</legend>
            <input name="login" type="text">
        </fieldset>
    </form>

    <script>
        alert(form.elements.login);//<input name = "login">
        let fieldset = form.elements.userFields;
        alert(fieldset);
        alert(fieldset.elements.login == form.elements.login);
    </script>
</body>