<select name="" id="select">
    <option value="Apple">Apple</option>
    <option value="Banana">Banana</option>
    <option value="Kiwi">Kiwi</option>
</select>

<script>
    select.options[2].selected = true;
    select.selectedIndex = 2;
    select.value = "Kiwi";
</script>