<select name="select" id="select" multiple>
    <option value="Blues" selected>Blues</option>
    <option value="Rock" selected>Rock</option>
    <option value="Classic" selected>Classic</option>
</select>

<script>
    let selected = Array.from(select.options)
    .filter(options => option.selected)
    .map(option => option.value);

    alert(selected);
</script>