body {
    font-family: 'Poiret One', cursive;
    background: #3494E6; /* dự phòng cho các trình duyệt cũ */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);
    background: linear-gradient(to right, #EC6EAD, #3494E6); /* Độ dốc màu chuyển dần từ trái sang phải */
}

h4 {
    font-weight: bold;
    margin-bottom: 2.5em;
}

.form-wapper {
    background: #fff;
    border-radius: 5px;
    padding: 50px;
}

.form-control, .custom-select {
    border-radius: 0px;
    color: #495057;
    background-color: #f1f1f1;
    border-color: none;
}

.form-control:focus {
    color: #495057;
    background-color: #ffffff;
    border: 1px solid #b5b6b3;
    outline: 0;
    box-shadow: none;
}

.btn {
    background: #3494E6;
    border: #3494E6;
    padding: 0.6rem 3rem;
    font-weight: bold;
}

.btn:hover, .btn:focus, .btn:active, .btn-primary:not(:disabled).active, .btn-primary:not(:disabled) {
    background: #3494E6;
    border: #3494E6;
    outline: 0;
}