body {
    font-family: Arial, Tahoma;
    font-size: 12px;
}

#main {
    width: 1000px;
    padding:  0;
    margin-left: auto;
    margin-right: auto;
}

#head {
    height: 100px;
    background-color: #F5F5F5;
    border: 1px solid #CDCDCD;
    margin-bottom: 5px;
}

#head-link{
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #CDCDCD;
    background-color: #F5F5F5;
    margin-bottom: 5px;
    clear: both;
}

#left {
    width: 150px;
    min-height: 400px;
    border: 1px solid #CDCDCD;
    float: left;
    background-color: #004C00;
    margin-bottom:  5px;
}

#content {
    width: 600px;
    min-height: 400px;
    border: 1px solid #CDCDCD;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#right {
    width: 234px;
    min-height: 400px;
    border: 1px solid #CDCDCD;
    float: right;
    margin-bottom: 5px;
}

#footer {
    height: 50px;
    clear: both;
    border: 1px solid #CDCDCD;
    background-color: #F8F8FF;
}