@import url(http://fonts.googleapis.com/css?family=Wellfleet);

body{
    font-family: 'Wellfleet', 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 160%;
    margin: 0px 0px 0px 0px;
    background-color: #523623;
}
h1{
    background-image: url("../images/bullseye-logo.png") ;
    height: 110px;
    width: 643px;
    white-space: nowrap;
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
}
#Teacher2{
    float: right;
    margin: 135px 30px 0px 0px;
}
#page1, #page2{
    height: 500px;
    background-color: yellow;
    padding: 10px;
    min-width: 750px;
}
#answer{
    border: 12px double #ffffff;
    margin: 70px auto 10px auto;
    text-align: left;
    width: 300px;
    color: #523620;
    padding: 20px;
}
#Teacher{
    float: right;
    margin: 0px 30px 0px 0px;
}
#blackboard{
    background-color: #424a5a;
    border:20px solid #523629 ;
    border-radius: 20px;
    padding: 40px 20px;
    margin: 0px auto;
    height: 370px;
    width: 600px;
    text-align: center;
}
