body {
    background-color: #0066cc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
}

.body {
    width: 1230px;
    background: center;
}

header {
    background-color: #003399;
    font-size: 12;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav,  footer{
    clear: both;
    color: #ffffff;
    height: 30px;
}

nav{
    text-align: center;
}

nav ul{
    margin: 0px;
    padding: 5px 0px 5px 30px;
}

nav li a {
    color: #ffffff;
}

nav li {
    display: inline;
    margin-right: 50px;
}

nav li a:hover;

nav li a.current{
    color: #000000;
}

section.homepage {
    float: left;
    width: 100%;
    border-right:  1px solid #eeeeee;
    display: inline;
}

article {
    background-color: #ffffcc;
    width: 100%;
    overflow: auto;
}
figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;
}
h2 {
    color: #CC3300;
    font-size: 22;
    margin: 10px 100px 5px 8px;
    padding: 0px;
}

p {
    font-weight: normal;
}

footer {
    background-color: #003399;
    font-size: 11;
    padding: 7px 0px 0px 20px;
}