<label><input type="radio" name="rating" value="i agree to the ">i agree to the <a href="https://www.youtube.com/?gl=VN">tems and Conditions</a></label>
        <p>Envato collects and user personal data in accordance with out <a href="https://vnexpress.net/ronaldo-messi-vao-doi-hinh-qua-bong-vang-trong-mo-4206371.html">Privacy Polocy</a></p>
        <button style="background-color: green;">Set up your Envato account <a href="https://www.facebook.com/"></a></button>
        <p>Already got an account? <a href="https://www.facebook.com/">sign to here</a></p>
    </body>
</html>