body {
    background-color: #2e506d;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: 300px;
}

h1 {
    font-weight: 500px;
}

.temp, .weather {
    font-size: 25px;
}

.icon {
    height: 50px;
    width: 45px;
}