body {
    background-color: #65a3da;
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-weight: 300px;
}

h1 {
    font-weight: 500px;
}

.temp[i], .weather[i] {
    font-size: 25px;
    margin: 20px;
    width: 100px;
    height: 100px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black ;
    border-bottom: 1px solid black;
}

.icon[i] {
    margin: 20px;
    height: 50px;
    width: 45px;
}