.navbar .navbar-brand {
    color: rgba(255, 255, 255, .85);
    font-size: 1rem;
    padding-top: .45rem;
}
.jumbotron{
    background: url('');
    background-size: cover;
}
.btn,
.active {
    transition: .4s;
}