/* reset CSS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

#head_two {
  background-color: rgba(204, 187, 187, 0.432);
  height: 150px;
  line-height: normal;
  font-family: "Oswald", sans-serif;
  width: 100%;
  background-attachment: fixed;
  z-index: 3;
  overflow-y: hidden;
}

#logo img {
  margin-top: -10px;
}
#head_two ul li {
  margin-top: 20px;
  float: right;
  margin-right: 10px;
  padding: 20px;
  list-style-type: none;
  font-size: 20px;
  position: relative;
}
#menu1 ul li a {
  text-decoration: none;
  color: rgb(1, 5, 8);
  text-transform: uppercase;
  font-size: 25px;
}
#menu1 ul li a:hover {
  color: #3a3c9b;
}
#menu1 ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #3a3c9b;
  position: absolute;
  left: 0;
  bottom: 10px;
  transition: 0.5s;
}
#menu1 ul li:hover::after {
  width: 100%;
}

/* Begin: header */

/* End: header */

/* Begin: Container*/

#container .content {
  width: 600px;
  padding: 64px 0 112px;
}

/* css cho content-info*/

#container .section-heading {
  color: #1e272e;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
}

#container .about-text {
  color: #6d6d6d;
  font-size: 16px;
  margin-top: 25px;
  text-align: justify;
  line-height: 1.4;
}

#container ol {
  margin-top: 10px;
  border-radius: 50%;
  list-style-type: decimal;

  counter-reset: li;
}

#container ol {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#container .content li {
  color: #6d6d6d;
  position: relative;
  margin: 10px;
  padding: 2px 0 4px 10px;
  list-style: none;
}

#container .content li::before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: -2px;
  left: -2em;
  box-sizing: border-box;
  width: 2em;
  margin-right: 8px;
  padding: 4px;
  color: #fff;
  font-weight: 700;
  background-color: #778ca3;
  text-align: center;
  border-radius: -50%;
  -webkit-border-radius: 50%;
}

#container .content li span {
  display: inline-block;
  color: #778ca3;
  font-weight: 700;
  width: 200px;
}

/* css cho social-share*/
#container .content .social-share {
  border: 1px solid #ccc;
  padding: 12px;
}

#container .social-share p {
  color: #6d6d6d;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 5px;
}

#container .social-share a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  padding: 2px;
}

#container .social-share a:hover {
  color: rgba(0, 0, 0, 0.4);
}

/* css cho contact */
#container .contact {
  padding: 64px 0 112px;
}

.contact .contact-heading {
  font-size: 80px;
  font-weight: 800;
  margin: 0 0 0 40px;
  line-height: 58px;
  text-align: center;
}

.contact .contact-sub-heading {
  font-size: 24px;
  font-weight: 400;
  margin: 20px;
  text-align: center;
}

/* End: Container*/

/* Begin: Slider */
#slider-img {
  width: 700px;
  height: 500px;
}

#slider-img .slidershow {
  width: 600px;
  height: 400px;
  overflow: hidden;
  border: 5px solid #ccc;
}
#slider-img .middle {
  top: 50%;
  left: -20%;
  transform: translate(-110%, -130%);
}

#slider-img .navigation {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

#slider-img .navigation .bar {
  width: 10px;
  border-radius: 50%;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
}

#slider-img .bar:hover {
  background: #fff;
}

#slider-img input[name="r"] {
  position: absolute;
  visibility: hidden;
}

#slider-img .slides {
  width: 500%;
  height: 100%;
  display: flex;
}

#slider-img .slide {
  width: 20%;
  transition: 0.6s;
}

#slider-img .slide img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -20%;
}

#r3:checked ~ .s1 {
  margin-left: -40%;
}

#r4:checked ~ .s1 {
  margin-left: -60%;
}

#r5:checked ~ .s1 {
  margin-left: -80%;
}
.main_1 {
  float: right;

  width: 600px;
  margin-right: 50px;
}
html {
  font-family: "Open Sans", sans-serif;
}

#footer {
  width: 100%;
  height: 400px;
  background-color: #576574;
  margin-top: 50px;
  position: relative;
  background: linear-gradient(-45deg, #d2dae2, #485460, #808e9b, #1e272e)
    no-repeat;
  background-size: 400% 400%;
  animation: Grandient 15s ease infinite;
}
@-webkit-keyframes Grandient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.footer-1 {
  display: flex;
  padding-top: 50px;
}
.footer-1 .footer-logo {
  width: 500px;
  height: 200px;
  margin-right: 50px;
  margin-left: 50px;
}
.footer-1 .footer-logo ul li {
  list-style: none;
  float: left;
  font-size: 50px;
  padding: 20px;
  padding-bottom: 20px;
}
.footer-1 .about-us {
  min-width: 300px;
}
h3 {
  font-size: 30px;
}
.footer-1 .about-us p {
  padding: 30px 40px 0 0px;
  font-size: 20px;
}

.footer-1 .sidebar-footer::after {
  content: "";
  display: block;
  padding-top: 10px;
  width: 250px;
  border-bottom: 2px dashed #fff;
}

.footer-1 .contact-us {
  min-width: 300px;
  padding-left: 30px;
}
.footer-1 .contact-us ul li {
  padding-top: 30px;
  list-style: none;
  font-size: 20px;
}
.footer-1 .contact-us ul li i {
  font-size: 30px;
  padding-right: 20px;
}
.footer-1 .working-hours {
  min-width: 300px;
  padding-left: 30px;
}
.footer-1 .working-hours ul li {
  list-style: none;
  padding-top: 37px;
  font-size: 20px;
}
.footer-2 {
  padding-top: 40px;
  flex-basis: 50%;
  width: 100%;
}

.footer-2 .copyright {
  text-align: center;
}

.footer-2 p {
  padding: 30px 0px 0 0px;
  font-size: 20px;
  padding-top: 40px;
}
a {
  color: #fff;
  text-decoration: none;
}

/*-------------- all products page ---------------*/

p {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.025em;
  line-height: 1.6;
}

.small-container a {
  text-decoration: none;
  color: #fff;
}

.small-container p {
  color: #555;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0px 25px;
}

.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img {
  width: 100%;
}

h4 {
  color: #555;
  font-weight: normal;
}

/*------------------- PRODUCTS DETAILS ---------------------*/

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  display: inline-block;
  background: #222f3e;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 20px;
}

.btn:hover {
  background: #563434;
}

.single-product {
  margin-top: 80px;
}

.single-product .col-2 img {
  padding: 0;
}

.single-product .col-2 {
  padding: 20px;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 10px;
  margin-right: 10px;
  border: 2px solid #222f3e;
}

input:focus {
  outline: none;
}

.single-product .fas {
  color: #222f3e;
  margin-left: 10px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

.single-product ul {
  color: #555;
}

.single-product ul li {
  padding: 10px;
  font-size: 16px;
  margin-left: 10px;
}

.row .row-one {
  text-align: center;
}


/*------------------------- Account-page -------------------------*/
.account-page {
  padding: 50px 0;
  background: radial-gradient(#fff,#ffd6d6);
  margin-bottom: -50px;
}
.form-container {
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.form-container span{
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn{
  display: inline-block;
}
.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}
form input{
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus{
  outline: none;
}
#LoginForm {
  left: -300px;
}
#RegForm {
  left: 0;
}
form a{
  font-size: 12px;
}
#Indicator{
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}