@import url(http://fonts.googleapis.com/css?family=Open+Sans:800italic);
body{
    font-family: 'Courier New', Courier, monospace;
    background: url("../Images/constructive-backdrop.jpg") no-repeat center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

h1, h3, p {
    float: left;
    clear: left;
    width: 320px;
    color: brown;
    background-color: #ffffff;
    text-align: center;
}

h1 {
    background-image: url("../Images/constructive-logo.gif");
    margin: 50px 0 0 50px;
    height: 175px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    border-top: 1px solid #bcbcb0;
    border-left: 1px solid #bcbcb0;
    border-right: 1px solid #bcbcb0;
}

h3{
    text-transform: uppercase;
    margin: 0 0 0 50px;
    padding: 25px 0 0 0;
    font-size: 2.0em;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -0.02em;
    border-left: 1px solid #bcbcb0;
    border-right: 1px solid #bcbcb0;
    line-height: 0.80em;
    font-family: Georgia;
}

html {
    height: 100%;
    min-height: 100%;
}

p + script + h3 {
    padding-bottom: 20px;
    border-bottom: 1px solid #bcbcb0;
}

p {
    margin: 0 0 0 50px;
    padding: 30px 0 25px 0;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #bcbcb0;
    border-left: 1px solid #bcbcb0;
    border-bottom: 1px solid #bcbcb0;
}