* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
footer {
    height: 50px;
    text-align: center;
}
header {
    padding: 15px;
}
header .logo img {
    float: left;
    width: 30%;
    width: 100px;
}
header .search-box {
    float: left;
    padding: 25px 0px;
    width: 70%;
}
header::after {
    content: "";
    display: table;
    clear: both;
}
#list-video {
    padding: 10px;
}
#list-video::after {
    clear: both;
    display: table;
    content: "";
}
.video {
    width: 30%;
    float: left;
    margin: 0 15px;
    text-align: center;
}
.video img {
    border-radius: 5px;
    box-shadow: 3px 3px 10px #888888;
    cursor: pointer;
    transition: 0.3s;
}
.video img:hover {
    opacity: 0.7;
}
.video .title {
    font-weight: bold;
    margin-top: 10px;
    height: 47px;
    overflow: auto;
    text-align: center;
    cursor: pointer;
}
.search-box {
    margin: 15px;
}
.search-box input {
    width: 50%;
    height: 30px;
    border-radius: 5px;
}
.model {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.9);
}
.model-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
    color: #cccccc;
    padding: 10px;
    height: 150px;
    max-width: 700px;
}

/* Add animation */
.model-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from{-webkit-transform:  scale(0)}
    to{-webkit-transform: scale(1)}
}
@keyframes zoom {
    from{transition: scale(0)}
    to{transition: scale(1)}
}

/* Close button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover, .close.focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% image width on smaller screens */
@media only screen and (max-width: 700px) {
    .model-content {
        width: 100%;
    }
}